header,footer {
	padding: 1em;
    color: white;
    background-color: #10180D;
    clear: left;
    text-align: center;
}

body {
	background-color: #0D100B;
	color: #f7e5e1;
}

infoBanner {
	color:white;
}

canvas {
	border:1px solid #FFFFFF;
}